<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.typemytype.robofont.binarySource</key>
	<string>/Users/trumaker/Downloads/Courier Prime/Courier Prime Italic.ttf</string>
	<key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.autohint</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.decompose</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.generateFormat</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.compileSettings.path</key>
	<string>/Users/trumaker/Desktop/CourierPrimal/Courier Primal Italic.ttf</string>
	<key>com.typemytype.robofont.compileSettings.releaseMode</key>
	<integer>1</integer>
	<key>com.typemytype.robofont.italicSlantOffset</key>
	<integer>0</integer>
	<key>com.typemytype.robofont.layerOrder</key>
	<array>
	</array>
	<key>com.typemytype.robofont.segmentType</key>
	<string>qcurve</string>
	<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
	<false/>
	<key>com.typemytype.robofont.sort</key>
	<array>
		<dict>
			<key>ascending</key>
			<array>
				<string>.notdef</string>
				<string>exclam</string>
				<string>quotedbl</string>
				<string>numbersign</string>
				<string>dollar</string>
				<string>percent</string>
				<string>ampersand</string>
				<string>quotesingle</string>
				<string>parenleft</string>
				<string>parenright</string>
				<string>asterisk</string>
				<string>plus</string>
				<string>comma</string>
				<string>hyphen</string>
				<string>period</string>
				<string>slash</string>
				<string>zero</string>
				<string>one</string>
				<string>two</string>
				<string>three</string>
				<string>four</string>
				<string>five</string>
				<string>six</string>
				<string>seven</string>
				<string>eight</string>
				<string>nine</string>
				<string>colon</string>
				<string>semicolon</string>
				<string>less</string>
				<string>equal</string>
				<string>greater</string>
				<string>question</string>
				<string>at</string>
				<string>A</string>
				<string>B</string>
				<string>C</string>
				<string>D</string>
				<string>E</string>
				<string>F</string>
				<string>G</string>
				<string>H</string>
				<string>I</string>
				<string>J</string>
				<string>K</string>
				<string>L</string>
				<string>M</string>
				<string>N</string>
				<string>O</string>
				<string>P</string>
				<string>Q</string>
				<string>R</string>
				<string>S</string>
				<string>T</string>
				<string>U</string>
				<string>V</string>
				<string>W</string>
				<string>X</string>
				<string>Y</string>
				<string>Z</string>
				<string>bracketleft</string>
				<string>backslash</string>
				<string>bracketright</string>
				<string>asciicircum</string>
				<string>underscore</string>
				<string>grave</string>
				<string>a</string>
				<string>b</string>
				<string>c</string>
				<string>d</string>
				<string>e</string>
				<string>f</string>
				<string>g</string>
				<string>h</string>
				<string>i</string>
				<string>j</string>
				<string>l</string>
				<string>m</string>
				<string>n</string>
				<string>o</string>
				<string>p</string>
				<string>q</string>
				<string>r</string>
				<string>s</string>
				<string>u</string>
				<string>v</string>
				<string>w</string>
				<string>x</string>
				<string>z</string>
				<string>braceleft</string>
				<string>bar</string>
				<string>braceright</string>
				<string>asciitilde</string>
				<string>Ccedilla</string>
				<string>ccedilla</string>
				<string>dagger</string>
				<string>degree</string>
				<string>cent</string>
				<string>sterling</string>
				<string>section</string>
				<string>bullet</string>
				<string>paragraph</string>
				<string>germandbls</string>
				<string>registered</string>
				<string>copyright</string>
				<string>trademark</string>
				<string>acute</string>
				<string>dieresis</string>
				<string>notequal</string>
				<string>AE</string>
				<string>Oslash</string>
				<string>summation</string>
				<string>integral</string>
				<string>ordfeminine</string>
				<string>ordmasculine</string>
				<string>ae</string>
				<string>oslash</string>
				<string>questiondown</string>
				<string>exclamdown</string>
				<string>logicalnot</string>
				<string>florin</string>
				<string>approxequal</string>
				<string>guillemotleft</string>
				<string>guillemotright</string>
				<string>OE</string>
				<string>oe</string>
				<string>endash</string>
				<string>divide</string>
				<string>fraction</string>
				<string>guilsinglleft</string>
				<string>guilsinglright</string>
				<string>fi</string>
				<string>fl</string>
				<string>daggerdbl</string>
				<string>quotesinglbase</string>
				<string>quotedblbase</string>
				<string>perthousand</string>
				<string>dotlessi</string>
				<string>circumflex</string>
				<string>tilde</string>
				<string>breve</string>
				<string>dotaccent</string>
				<string>ring</string>
				<string>cedilla</string>
				<string>hungarumlaut</string>
				<string>ogonek</string>
				<string>caron</string>
				<string>Lslash</string>
				<string>lslash</string>
				<string>Scaron</string>
				<string>scaron</string>
				<string>Zcaron</string>
				<string>zcaron</string>
				<string>brokenbar</string>
				<string>Eth</string>
				<string>eth</string>
				<string>Yacute</string>
				<string>Thorn</string>
				<string>thorn</string>
				<string>onesuperior</string>
				<string>twosuperior</string>
				<string>threesuperior</string>
				<string>onehalf</string>
				<string>onequarter</string>
				<string>threequarters</string>
				<string>Euro</string>
				<string>quotedblleft</string>
				<string>quotedblright</string>
				<string>quoteleft</string>
				<string>quoteright</string>
				<string>y</string>
				<string>emdash</string>
				<string>t</string>
				<string>k</string>
				<string>ellipsis</string>
				<string>edieresis</string>
				<string>adieresis</string>
				<string>odieresis</string>
				<string>udieresis</string>
				<string>Odieresis</string>
				<string>Udieresis</string>
				<string>Adieresis</string>
				<string>ydieresis</string>
				<string>Ydieresis</string>
				<string>acircumflex</string>
				<string>ecircumflex</string>
				<string>ucircumflex</string>
				<string>ocircumflex</string>
				<string>Ocircumflex</string>
				<string>Ucircumflex</string>
				<string>Icircumflex</string>
				<string>Acircumflex</string>
				<string>Edieresis</string>
				<string>Ecircumflex</string>
				<string>Idieresis</string>
				<string>idieresis</string>
				<string>icircumflex</string>
				<string>aacute</string>
				<string>iacute</string>
				<string>oacute</string>
				<string>uacute</string>
				<string>Iacute</string>
				<string>Uacute</string>
				<string>Oacute</string>
				<string>Ograve</string>
				<string>Ugrave</string>
				<string>Igrave</string>
				<string>Egrave</string>
				<string>Aacute</string>
				<string>Eacute</string>
				<string>Agrave</string>
				<string>eacute</string>
				<string>egrave</string>
				<string>igrave</string>
				<string>agrave</string>
				<string>ugrave</string>
				<string>ograve</string>
				<string>aring</string>
				<string>Aring</string>
				<string>atilde</string>
				<string>otilde</string>
				<string>ntilde</string>
				<string>Ntilde</string>
				<string>Atilde</string>
				<string>Otilde</string>
				<string>plusminus</string>
				<string>lessequal</string>
				<string>greaterequal</string>
				<string>yen</string>
				<string>yacute</string>
				<string>Delta</string>
				<string>minus</string>
				<string>uni00A0</string>
				<string>periodcentered</string>
				<string>macron</string>
				<string>multiply</string>
				<string>commaaccent</string>
				<string>Abreve</string>
				<string>Amacron</string>
				<string>Aogonek</string>
				<string>Cacute</string>
				<string>Ccaron</string>
				<string>Ccircumflex</string>
				<string>Cdotaccent</string>
				<string>Dcaron</string>
				<string>Dcroat</string>
				<string>Ebreve</string>
				<string>Ecaron</string>
				<string>Edotaccent</string>
				<string>Emacron</string>
				<string>Eogonek</string>
				<string>Gbreve</string>
				<string>Gcircumflex</string>
				<string>Gcommaaccent</string>
				<string>Gdotaccent</string>
				<string>Hbar</string>
				<string>Hcircumflex</string>
				<string>Ibreve</string>
				<string>Idotaccent</string>
				<string>Imacron</string>
				<string>Iogonek</string>
				<string>Itilde</string>
				<string>Jcircumflex</string>
				<string>Kcommaaccent</string>
				<string>Lacute</string>
				<string>Lcaron</string>
				<string>Lcommaaccent</string>
				<string>Ldot</string>
				<string>Nacute</string>
				<string>Ncaron</string>
				<string>Ncommaaccent</string>
				<string>Obreve</string>
				<string>Ohungarumlaut</string>
				<string>Omacron</string>
				<string>Racute</string>
				<string>Rcaron</string>
				<string>Rcommaaccent</string>
				<string>Sacute</string>
				<string>Scedilla</string>
				<string>Scircumflex</string>
				<string>Scommaaccent</string>
				<string>Tbar</string>
				<string>Tcaron</string>
				<string>Tcommaaccent</string>
				<string>Ubreve</string>
				<string>Uhungarumlaut</string>
				<string>Umacron</string>
				<string>Uogonek</string>
				<string>Uring</string>
				<string>Utilde</string>
				<string>Wacute</string>
				<string>Wcircumflex</string>
				<string>Wdieresis</string>
				<string>Wgrave</string>
				<string>Ycircumflex</string>
				<string>Ygrave</string>
				<string>Zacute</string>
				<string>Zdotaccent</string>
				<string>abreve</string>
				<string>amacron</string>
				<string>aogonek</string>
				<string>cacute</string>
				<string>ccaron</string>
				<string>ccircumflex</string>
				<string>cdotaccent</string>
				<string>dcaron</string>
				<string>dcroat</string>
				<string>ebreve</string>
				<string>ecaron</string>
				<string>edotaccent</string>
				<string>emacron</string>
				<string>eogonek</string>
				<string>gbreve</string>
				<string>gcircumflex</string>
				<string>gcommaaccent</string>
				<string>gdotaccent</string>
				<string>hbar</string>
				<string>hcircumflex</string>
				<string>ibreve</string>
				<string>imacron</string>
				<string>iogonek</string>
				<string>itilde</string>
				<string>jcircumflex</string>
				<string>kcommaaccent</string>
				<string>lacute</string>
				<string>lcaron</string>
				<string>lcommaaccent</string>
				<string>ldot</string>
				<string>nacute</string>
				<string>ncaron</string>
				<string>ncommaaccent</string>
				<string>obreve</string>
				<string>ohungarumlaut</string>
				<string>omacron</string>
				<string>racute</string>
				<string>rcaron</string>
				<string>rcommaaccent</string>
				<string>sacute</string>
				<string>scedilla</string>
				<string>scircumflex</string>
				<string>scommaaccent</string>
				<string>tbar</string>
				<string>tcaron</string>
				<string>tcommaaccent</string>
				<string>ubreve</string>
				<string>uhungarumlaut</string>
				<string>umacron</string>
				<string>uogonek</string>
				<string>uring</string>
				<string>utilde</string>
				<string>wacute</string>
				<string>wcircumflex</string>
				<string>wdieresis</string>
				<string>wgrave</string>
				<string>ycircumflex</string>
				<string>ygrave</string>
				<string>zacute</string>
				<string>zdotaccent</string>
				<string>franc</string>
				<string>IJ</string>
				<string>ij</string>
				<string>dotlessj</string>
				<string>period.alt</string>
				<string>comma.alt</string>
				<string>colon.alt</string>
				<string>semicolon.alt</string>
				<string>ellipsis.alt1</string>
				<string>ellipsis.alt2</string>
				<string>ellipsis.alt3</string>
				<string>ellipsis.alt4</string>
				<string>ellipsis.alt5</string>
				<string>emdash.alt1</string>
				<string>emdash.alt2</string>
				<string>emdash.alt3</string>
				<string>emdash.alt4</string>
				<string>hyphen.alt</string>
				<string>foursuperior</string>
				<string>space</string>
			</array>
			<key>type</key>
			<string>glyphList</string>
		</dict>
	</array>
	<key>public.glyphOrder</key>
	<array>
		<string>.notdef</string>
		<string>exclam</string>
		<string>quotedbl</string>
		<string>numbersign</string>
		<string>dollar</string>
		<string>percent</string>
		<string>ampersand</string>
		<string>quotesingle</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>asterisk</string>
		<string>plus</string>
		<string>comma</string>
		<string>hyphen</string>
		<string>period</string>
		<string>slash</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>less</string>
		<string>equal</string>
		<string>greater</string>
		<string>question</string>
		<string>at</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>bracketleft</string>
		<string>backslash</string>
		<string>bracketright</string>
		<string>asciicircum</string>
		<string>underscore</string>
		<string>grave</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>z</string>
		<string>braceleft</string>
		<string>bar</string>
		<string>braceright</string>
		<string>asciitilde</string>
		<string>Ccedilla</string>
		<string>ccedilla</string>
		<string>dagger</string>
		<string>degree</string>
		<string>cent</string>
		<string>sterling</string>
		<string>section</string>
		<string>bullet</string>
		<string>paragraph</string>
		<string>germandbls</string>
		<string>registered</string>
		<string>copyright</string>
		<string>trademark</string>
		<string>acute</string>
		<string>dieresis</string>
		<string>notequal</string>
		<string>AE</string>
		<string>Oslash</string>
		<string>summation</string>
		<string>integral</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>ae</string>
		<string>oslash</string>
		<string>questiondown</string>
		<string>exclamdown</string>
		<string>logicalnot</string>
		<string>florin</string>
		<string>approxequal</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>OE</string>
		<string>oe</string>
		<string>endash</string>
		<string>divide</string>
		<string>fraction</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>fi</string>
		<string>fl</string>
		<string>daggerdbl</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>perthousand</string>
		<string>dotlessi</string>
		<string>circumflex</string>
		<string>tilde</string>
		<string>breve</string>
		<string>dotaccent</string>
		<string>ring</string>
		<string>cedilla</string>
		<string>hungarumlaut</string>
		<string>ogonek</string>
		<string>caron</string>
		<string>Lslash</string>
		<string>lslash</string>
		<string>Scaron</string>
		<string>scaron</string>
		<string>Zcaron</string>
		<string>zcaron</string>
		<string>brokenbar</string>
		<string>Eth</string>
		<string>eth</string>
		<string>Yacute</string>
		<string>Thorn</string>
		<string>thorn</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>Euro</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>y</string>
		<string>emdash</string>
		<string>t</string>
		<string>k</string>
		<string>ellipsis</string>
		<string>edieresis</string>
		<string>adieresis</string>
		<string>odieresis</string>
		<string>udieresis</string>
		<string>Odieresis</string>
		<string>Udieresis</string>
		<string>Adieresis</string>
		<string>ydieresis</string>
		<string>Ydieresis</string>
		<string>acircumflex</string>
		<string>ecircumflex</string>
		<string>ucircumflex</string>
		<string>ocircumflex</string>
		<string>Ocircumflex</string>
		<string>Ucircumflex</string>
		<string>Icircumflex</string>
		<string>Acircumflex</string>
		<string>Edieresis</string>
		<string>Ecircumflex</string>
		<string>Idieresis</string>
		<string>idieresis</string>
		<string>icircumflex</string>
		<string>aacute</string>
		<string>iacute</string>
		<string>oacute</string>
		<string>uacute</string>
		<string>Iacute</string>
		<string>Uacute</string>
		<string>Oacute</string>
		<string>Ograve</string>
		<string>Ugrave</string>
		<string>Igrave</string>
		<string>Egrave</string>
		<string>Aacute</string>
		<string>Eacute</string>
		<string>Agrave</string>
		<string>eacute</string>
		<string>egrave</string>
		<string>igrave</string>
		<string>agrave</string>
		<string>ugrave</string>
		<string>ograve</string>
		<string>aring</string>
		<string>Aring</string>
		<string>atilde</string>
		<string>otilde</string>
		<string>ntilde</string>
		<string>Ntilde</string>
		<string>Atilde</string>
		<string>Otilde</string>
		<string>plusminus</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>yen</string>
		<string>yacute</string>
		<string>Delta</string>
		<string>minus</string>
		<string>uni00A0</string>
		<string>periodcentered</string>
		<string>macron</string>
		<string>multiply</string>
		<string>commaaccent</string>
		<string>Abreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Edotaccent</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Ibreve</string>
		<string>Idotaccent</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Sacute</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcommaaccent</string>
		<string>Ubreve</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Ycircumflex</string>
		<string>Ygrave</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>abreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>edotaccent</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>gbreve</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>ibreve</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>jcircumflex</string>
		<string>kcommaaccent</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>obreve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>sacute</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcommaaccent</string>
		<string>ubreve</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>ycircumflex</string>
		<string>ygrave</string>
		<string>zacute</string>
		<string>zdotaccent</string>
		<string>franc</string>
		<string>IJ</string>
		<string>ij</string>
		<string>dotlessj</string>
		<string>period.alt</string>
		<string>comma.alt</string>
		<string>colon.alt</string>
		<string>semicolon.alt</string>
		<string>ellipsis.alt1</string>
		<string>ellipsis.alt2</string>
		<string>ellipsis.alt3</string>
		<string>ellipsis.alt4</string>
		<string>ellipsis.alt5</string>
		<string>emdash.alt1</string>
		<string>emdash.alt2</string>
		<string>emdash.alt3</string>
		<string>emdash.alt4</string>
		<string>hyphen.alt</string>
		<string>foursuperior</string>
		<string>space</string>
	</array>
</dict>
</plist>
